.smallBoxe{
  width: 306px;
  height: 566px;
}
.smallBoxe-container1{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 32px;
}
.smallBoxe-container1-box1,.smallBoxe-container1-box1-image{
  width: 100%;
}

.smallBoxe-container1-box2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}
.smallBoxe-container1-box2-title{
    color: #323334;
    font-family: var(--roboto-font);
    font-size: 18px;

}
.smallBoxe-container1-box2-value{
  margin-top: 1px;
  width: 100%;
  height: 22px;
  color: #323334;
  font-family: var(--roboto-font);
  font-size: 24px;
 }
/* Estrelas */
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
  
/* Details */
.smallBoxe-details{
  opacity: 0;
  background-image: url("../../../assets//images/image\ 3.svg");
  backdrop-filter: blur(2px) contrast(30%);
  height: 566px;
  position: relative;
  bottom: 100%;
  transition: 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallBoxe:hover > .smallBoxe-details{
  opacity: 1;
}

.smallBoxe-details-box-title{
  font-size: 28px;
  color: var(--white-color1);
  font-family: var(--roboto-font);
}
.smallBoxe-details-box-text{
  font-size: 16px;
  font-family: var(--roboto-font);
  color: var(--white-color1);
  width: 100%;
  text-align: start;
}
.smallBoxe-details-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 80%;
}